<div class="jumbotron">
  <h1>Compiler Research</h1>
  <p>At the heart of our mission is the commitment to foster innovation and
  excellence at the intersection of compiler research and data science. Our
  main focus areas include Interpretative C/C++/CUDA, Automatic
  Differentiation tools, and C++ Language Interoperability with Python. We aim
  to catalyze transformative advancements in scientific computing, fostering a
  community that thrives on shared knowledge and innovation. </p>
  <p><a class="btn btn-primary custom-btn" href="/about/" role="button">Learn more</a></p>
</div>

