<meta name="author" content="{% if page.author %} {{ page.author }} {% else %} Compiler Research Team {% endif %}" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:locale" content="en_US" />
<meta name="twitter:site" content="" />
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />

{% assign type = "website" %}
{% if page.layout == "post" %}
  {% assign type = "article" %}
{% endif %}

<meta property="og:type" content="{{ type }}" />
{% if type == "article" %}
  <!-- Article specific OG data -->
  <meta property="article:published_time" content="{{ page.date }}" />
  {% if page.modified %}
    <meta property="article:modified_time" content="{{ page.modified }}" />
  {% endif %}
  <meta property="article:author" content="{{ page.author }}" />
  <meta property="article:publisher" content="Compiler Research Team" />
  <meta property="article:section" content="{{ page.vertical }}" />
  {% for tag in page.categories %}
    <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}
  <meta name="keywords" content="{{ page.categories | join: ', ' }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="" />

  {% if page.ogimagenull %}
    <!-- no og image -->
  {% elsif page.banner_image %}
    <meta property="og:image" content="{{ page.banner_image }}" />
    <meta name="twitter:image" content="{{ page.banner_image }}" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
  {% elsif page.image %}
    <meta property="og:image" content="{{ page.image }}" />
    <meta name="twitter:image" content="{{ page.image }}" />
  {% else %}
  {% endif %}

{% else %}
  <!-- OG data for non-post pages -->
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="" />
{% endif %}
