<div class="clearfix">

{% assign member = site.data.contributors | where: "email", page.email  | first %}
<div class="clearfix">

<div class="row">

<div class="col-sm-6">
<h1>{{ member.name }}</h1>
{% if member.photo %}
  {% assign member_photo = member.photo %}
{% else %}
  {% assign member_photo = "defaultDP.png" %}
{% endif %}
  <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member_photo }}" class="img-responsive" width="25%" style="float: left" />
  <i>{{ member.info }}</i><br>
{% if member.responsibilities %}
<p> {{ member.responsibilities | markdownify | remove: '<p>' | remove: '</p>'}} </p>
{% endif %}
{% if member.email %}
  <i>email: <{{ member.email }}></i>
{% endif %}
{% if member.education %}
<p> <strong>Education:</strong> {{ member.education }} </p>
{% endif %}
{% if member.org %}
<p> <strong>Institution:</strong> {{ member.org }} </p>
{% endif %}
  {% for project in member.projects %}
  <p class="text-justify">
    <strong> {{ project.status }} project:</strong>
    <i>{{ project.title }}</i><br/>{{ project.description }}
  </p>
  <p>
    <strong>Project Proposal:</strong>
    <a href="{{ project.proposal }}" target=_blank >URL</a>
  </p>
{% if project.report %}
  <p>
    <strong>Project Reports:</strong>
    {{ project.report | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines}}
  </p>
{% endif %}
  <p> <strong>Mentors:</strong> {{ project.mentors }} </p>
  {% endfor %}
</div>

{% assign number_printed = number_printed | plus: 1 %}

{% if even_odd == 1 %}
</div>

{% endif %}


<div class="col-sm-6">
  <h3>Presentations</h3>
  {% assign presentations = site.data.preslist | where_exp: "item", "item.speaker contains member.name" %}
  {% for presentation in presentations %}
  <div class="well text-justify">
  <pubtit>
    <a style="text-decoration:none;" href="/presentations#{{ presentation.id }}">
      {{ presentation.title }},
    </a>
    <i>{{ presentation.location | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</i>,
    {{ presentation.date | date: "%-d %B %Y" }}
  </pubtit>
  </div>
  {% endfor %}

  <hr />

  {% for meeting in site.data.meetinglist %}
  {% for entry in meeting.agenda %}
  {% unless entry.speaker contains member.name %}
    {% continue %}
  {% endunless %}
  {% assign speaker = entry.speaker %}
  {% if speaker and speaker.size != 0 %}
  <div class="well text-justify">
  <pubtit>
    <a style="text-decoration:none;" href="/meetings#{{ meeting.label }}">
      {{ entry.title }},
    </a>
    <i>{{ meeting.name | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</i>,
    {{ meeting.date | date: "%-d %B %Y" }}
  </pubtit>
  </div>
  {% endif %}
  {% endfor %}
  {% endfor %}

  <hr />

  {% assign team_meeting = site.data.standing_meetings %}
  {% assign presentations = team_meeting.first.agenda | where_exp: "item", "item.speaker contains member.name" %}
  {% for presentation in presentations %}
  <div class="well text-justify">
  <pubtit>
    {{ presentation.title }},
    {{ presentation.link | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }},
    <i>Team Meeting</i>, {{ presentation.date | date: "%-d %B %Y" }}
  </pubtit>
  </div>
  {% endfor %}

</div>

</div>
