

<div class="row">
  
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a href="/projects/">
        <img src="\images\thumbnails\projects.jpg" alt="thumbnail">
      </a>
        
    </div>
  </div>

	<div class="col-sm-6 col-md-3">
	  <div class="thumbnail">
      <a href="/publications/">
        <img src="\images\thumbnails\publications.jpg" alt="thumbnail">
      </a>

	  </div>
	</div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a href="/presentations/">
        <img src="\images\thumbnails\presentations.jpg" alt="thumbnail">
      </a>

    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a href="/team/">
        <img src="\images\thumbnails\team.jpg" alt="thumbnail">
      </a>
        
    </div>
  </div>

</div>