<div class="row">

	<div class="col-sm-6 col-md-4">
	  <div class="thumbnail" style="border: none; padding: 0;">
      <a href="/publications/">
        <img src="\images\thumbnails\publications.jpg" alt="thumbnail">
      </a>
	  </div>
	</div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border: none; padding: 0;">
      <a href="/presentations/">
        <img src="\images\thumbnails\presentations.jpg" alt="thumbnail">
      </a>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border: none; padding: 0;">
      <a href="/projects/">
        <img src="\images\thumbnails\projects.jpg" alt="thumbnail">
      </a>
    </div>
  </div>

</div>


