---
layout: default
---
<div>
  <div id="jumbo" class="col-sm-12">
    {% include jumbotron.html %}
  </div>

</div>

  <div id="thumbs" class="col-sm-12">
    {% include thumbnails.html %}
  </div>

  <div id="newsid" class="col-sm-3" >
    <div>
      {% include open-projects.html %}
    </div>
  </div>

  <div id="newsid" class="col-sm-3" >
    <div>
      {% include project-meetings.html %}
    </div>
  </div> 

  <div id="newsid" class="col-sm-3" >
    <div>
      {% include releases.html %}
    </div>
  </div>  

  <div id="newsid" class="col-sm-3" >
    <div>
      {% include news.html %}
    </div>
  </div> 

  <div id="homeid" class="col-sm-9">
    {{ content }}
  </div>

  <div id="newsid" class="col-sm-3" >
    <div>
      <br><br>
      {% include blog_widget.html %}
    </div>
  </div> 