---
layout: default
---
<div>
  <div id="jumbo" class="col-sm-12">
    {% include jumbotron.html %}
  </div>

</div>

<div>

  <div id="thumbs" class="col-sm-12">
    {% include thumbnails.html %}
  </div>

  <div id="newsid" class="col-sm-3" >
    <div style="width: 265px">
      {% include project-meetings.html %}
    </div>
  </div>

  <div id="newsid" class="col-sm-3" >
    <div style="width: 265px">
      {% include news.html %}
    </div>
  </div>  
  
  <div id="newsid" class="col-sm-3" >
    <div style="width: 265px">
      {% include open-projects.html %}
    </div>
  </div>

  <div id="newsid" class="col-sm-3" >
    <div style="width: 265px">
      {% include team-meetings.html %}
    </div>
  </div>  

  <div id="homeid" class="col-sm-12">
    {{ content }}
  </div>

</div>