---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %} • {% for author_name in page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        {% assign author = site.data.contributors | where: "name", author_name | first %}
        {% assign author_link = author.name | replace: " ", "" | prepend: "/team/" %}
        {% if page.avatar %}
          <img src="{% if page.avatar %} {{ page.avatar }} {% else %}{% if author.photo %}{{ site.baseurl }}/images/team/{{ author.photo }}{% else %}{{ site.baseurl }}/images/team/defaultDP.png{% endif %}{% endif %}"
               alt="{{ author_name }}" class="author-image" />
          <span itemprop="name">{{ author_name | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</span>
        {% else %}
          <a href="{{ author_link }}" itemprop="url">
            <img src="{% if author.photo %}{{ site.baseurl }}/images/team/{{ author.photo }}{% else %}{{ site.baseurl }}/images/team/defaultDP.png{% endif %}"
                 alt="{{ author_name }}" class="author-image" />
            <span itemprop="name">{{ author_name | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</span>
          </a>
        {% endif %}
        {% if forloop.last == false %} , {% endif %}
      </span>
      {% endfor %} {% endif %}
    </p>
  </header>

  {% if page.banner_image %}
  <div class="post-banner">
    <img src="{{ page.banner_image }}"
         alt="Banner Image" class="banner-image" />
  </div>
  {% endif %}

  <div class="post-content" itemprop="articleBody">{{ content }}</div>

  {% if page.tags and page.tags.size > 0 %}
  <hr />
  <footer class="post-footer">
    <p>
      <h4>Tags:</h4>
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tag#{{ tag | downcase | slugify }}" class="badge badge-secondary tag-badge">{{ tag }}</a>
      {% endfor %}
    </p>
  </footer>
  {% endif %}
</article>

<style>
.post-header .author-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.post-banner .banner-image {
  width: 100%;
  height: auto;
}

.tag-badge {
  background-color: #999999;
  padding: 0.5rem;
}
</style>
