---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %} • {% for author_name in page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        {% assign author = site.data.contributors | where: "name", author_name |
        first %} {% assign author_link = author.name | replace: " ", "" |
        prepend: "/team/" %}
        <a href="{{ author_link }}" itemprop="url">
          <img
            src="{% if author.photo %}{{ site.baseurl }}/images/team/{{ author.photo }}{% else %}{{ site.baseurl }}/images/team/defaultDP.png{% endif %}"
            alt="{{ author_name }}"
            class="author-image"
            style="margin: 0"
          />
          <span itemprop="name">{{ author_name }}</span>
        </a>
        {% if forloop.last == false %} , {% endif %}
      </span>
      {% endfor %} {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">{{ content }}</div>

  {% if page.tags and page.tags.size > 0 %}
  <hr />
  <footer class="post-footer">
    <p>
      <h4>Tags:</h4>
      {% for tag in page.tags %}
      <a
        href="{{ site.baseurl }}/tag#{{ tag | downcase | slugify }}"
        class="badge badge-secondary"
        style="background-color: #999999; padding: 0.5rem"
        >{{ tag }}</a
      >
      {% endfor %}
    </p>
  </footer>
  {% endif %}
</article>
