name: Check broken links (PR build)

on:
  pull_request:

jobs:
  broken_link_check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Check for broken links
        uses: athackst/htmlproofer-action@main
        with:
          directory: '_site'
      
          check_images: false
          check_scripts: false
          check_opengraph: false
      
          # External behavior
          disable_external: false
          enforce_https: false
          ignore_status_codes: '403,429,500,502,503,504'
      
          # Silence noise
          check_internal_hash: false
          check_external_hash: false
          ignore_missing_alt: true
          ignore_empty_alt: true
          allow_missing_href: true
      
          # Ignore HTTP + protocol-relative URLs
          ignore_urls: '^http://,^//'
