name: Checks

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    
      - name: Check links using script
        env:
          INPUT_URL: https://compiler-research.org/
          INPUT_PAGES_PATH: ./public/
          INPUT_CMD_PARAMS: '--skip-tls-verification --verbose --color=always'
          INPUT_DEBUG: true
        run: wget -qO- https://raw.githubusercontent.com/ruzickap/action-my-broken-link-checker/v3/entrypoint.sh | bash

      - name: Check links using container
        uses: ruzickap/action-my-broken-link-checker@v3
        with:
          url: https://compiler-research.org/
          pages_path: ./public/
          cmd_params: '--skip-tls-verification --verbose --color=always'
          debug: true
