name: Spellcheck PR Diff

on:
  pull_request:
    branches:
      - master

jobs:
  spellcheck:
    name: Spellcheck PR Diff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install aspell
        run: |
          sudo apt-get install -y aspell aspell-en
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - uses: compiler-research/git-spell-check@master
        with:
          debug: 1
      - name: Setup tmate session
        if: ${{ !cancelled() && runner.debug }}
        uses: mxschmitt/action-tmate@v3
        # When debugging increase to a suitable value!
        timeout-minutes: 30
